body {
    background: #F5F5F5;
}

.fade {
    opacity: 0;
}

.fade-animation {
    animation: fadein 3s ease-out;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}